
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav" class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://localhost" style="font-size: 32px;">尚筹网-创意产品众筹平台</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse"
                     style="float: right;">
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${session.loginMember}==null"><a href="" th:href="@{/auth/member/to/login/page.html}">登录</a></li>
                        <li th:if="${session.loginMember}==null"><a href="reg.html" th:href="@{/auth/member/to/reg/page.html}">注册</a></li>
                        <li th:if="${session.loginMember}" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>[[${session.loginMember.username}]]<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://localhost/auth/member/to/center.html"><i class="glyphicon glyphicon-scale"></i> 会员中心</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                                <li class="divider"></li>
                                <li><a href="http://localhost/auth/member/logout"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                            </ul>
                        </li>
                        <li><a href="http://localhost:8080/cjcorowdfunding02_admin_webui_war/">管理员入口</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>